:root {
    /* System Colors */
    --color-primary: #023047;
    --color-text: #7A7A7A;
    --color-accent: #EB7547;
  
    /* Custom Colors */
    --color-text2: #303336;
    --color-saffron: #E9C46A;
    --color-sandy-brown: #F4A261;
    --color-white: #FFFFFC;
    --color-black: #000000;
    --color-prussian-blue-dark-bg: #010E15;
    --color-saffron-light-bg: #F9F2E0;
    --color-prussian-blue-light-bg: #EBF7FC;
    --color-sea-green-light-bg: #D9E9E2;
    --color-saffron-tint-70: #F8EDD2;
    --color-burnt-sienna-tint-70: #F9D6C8;
    --color-sea-green-tint-70: #C6DED3;
    --color-prussian-blue-tint-70: #CCD6DA;
    --color-prussian-blue-2: #125C81;
    --color-sea-green-2: #03BB62;
    --color-burnt-sienna-2: #DD5019;
  
  }

/* Background colors */
.bg-primary { background-color: var(--color-primary); }
.bg-accent { background-color: var(--color-accent); }
.bg-saffron { background-color: var(--color-saffron); }
.bg-sandy-brown { background-color: var(--color-sandy-brown); }
.bg-white-custom { background-color: var(--color-white); }
.bg-black-custom { background-color: var(--color-black); }
.bg-dark-bg { background-color: var(--color-prussian-blue-dark-bg); }

/* Text colors */
.text-primary { color: var(--color-primary); }
.text-accent { color: var(--color-accent); }
.text-saffron { color: var(--color-saffron); }
.text-text2 { color: var(--color-text2); }
.text-white-custom { color: var(--color-white); }
.text-black-custom { color: var(--color-black); }

/* Border colors */
.border-primary { border-color: var(--color-primary); }
.border-accent { border-color: var(--color-accent); }

.display1{
        font-family: "Poppins", Sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 61px;
}

.med-para{
        font-family: "Poppins", Sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
}

  